*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}
body {
    font-family: inherit;
}

:root {
    --white: #fff;
    --light-white: #eee;

    --flashgreen: #06d440;
    --darkgreen-transparent: rgba(24, 88, 47, 0.9);
    --vertmarin-transparent : rgba(14, 216, 152, 0.9);

    --orange: #ff3c00;

    --light-black: #222;
    --black: #000;

    --shadow: rgba(0,0,0, .4);
}
.app {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom right, var(--vertmarin-transparent), var(--darkgreen-transparent)), url(https://i.pinimg.com/originals/91/b5/cd/91b5cdab51e207263169904b227503b4.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator {
    height: 80vh;
    width: 25%;
    box-shadow: 0 2rem 4rem var(--shadow);
    background-color: var(--light-black);
}

.result-screen {
    height: 19vh;
    font-size: 8rem;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.computation-screen {
    height: 6vh;
    font-size: 2.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.beautifullscreen {
    height: 25vh;
    width: 100%;
    padding: 0 2rem;
    overflow: hidden;
    color: var(--light-white);
    background-color: var(--flashgreen);
}

.keypad__row {
    height: 11vh;
    width: 100%;
    display: flex;
    color: white;
}

.keypad {
    height: 55vh;
    width: 100%;
}

.btn {
    width: 25%;
    height: 100%;
    font-size: 3rem;
    font-family: inherit;
    background-color: var(--white);
    border: 1px solid transparent;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s;
}
.btn:hover {
    color: var(--light-white);
    background-color: var(--flashgreen);
}
.btn:active {
    transform: scale(.95);
}
.btn-equal {
    width: 50%;
    height: 100%;
    font-size: 3rem;
    font-family: inherit;
    background-color: var(--white);
    border: 1px solid transparent;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s;
}

.btn-equal:hover {
    color: var(--light-white);
    background-color: var(--flashgreen);
}
.btn-equal:active {
    transform: scale(.95);
}